* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 700;
}

body {
    background: url(./fundo.png) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #ccc;
    margin-bottom: 70px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    color: rgb(155, 155, 155);
    text-decoration: underline;
}


.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#lamp {
    font-size: 40px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.paused {
    -ms-animation-play-state:paused !important;
    -o-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -webkit-animation-play-state:paused !important;
   animation-play-state: paused !important;
 }

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    border: thick double #ccc;
    padding: 25px;
    margin-top: 50px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background-color: #ccc;
    color: black;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 300ms;
    margin-top: 20px;
}

.form button:hover {
    background-color: rgb(155, 155, 155);
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
    
    .form {
        width: 100%;
    }
}